/* all two fonts idk */
@font-face {
    font-family: 'DOM';
    src: url(../AW_Portfolio/Fonts/nihonium113/Nihonium113-Console.ttf) format('truetype');   
}

@font-face {
    font-family: 'Arial';
    src: url(../AW_Portfolio/Fonts/Fira_Code/FiraCode-VariableFont_wght.ttf) format('truetype');
}

/* 
Colors:
#F0CC9A
#99F0B2
#C199F0
*/

* {
    margin:0;
    padding:0;
}

body {
    background-color:#F0CC9A; /* just to keep the color consistent on entire website */
}

/* Boot overlay */
#boot-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: #FFFFFF;
    padding: 1rem;
    box-sizing: border-box;
    white-space: pre-wrap;
    z-index: 9999; /* keep above site */
    font-family: 'DOM', monospace;
  }

 /* boot up console text stuff */

  #console-text {
    min-height: 200px;
  }

  #enter-text {
    margin-top: 1rem;
    display: none;
  } 

 /* just to separate boot up from actual website */

  #main-site {
    font-family: 'Arial', monospace;
  }